*{
  font-family: Inder;
}
.hero{
  color: white;
  background: black;
}
/*Section 1*/
#S1-HomePage{
  background: black;
  position: relative;
  width: 90%;
  height: 100%;
  left: 90px;
}
#My-Profile-Photo{
  position: absolute;
  border-radius: 30px;
  top: 100px;
  right: 80px;
}
section:nth-child(1)>header>div{
  font-size: 20px;
  position: fixed;
  left: 100px;
  font-weight: bold;
}
section:nth-child(1)>header>nav{
  font-size: 20px;
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  text-decoration: none;
  color: #cccccc;
}
nav ul li a:hover{
  color: #139B8C;
}

section:nth-child(1)>main>section:nth-child(1)>#Hello-Word{
  font-size: 80px;
  position: relative;
  font-family: 'Inder', sans-serif;
  font-weight: normal;
  font-style: italic;
}
section:nth-child(1)>main>section:nth-child(1)>#My-name{
  font-size: 80px;
  position: absolute;
  left: 50px;
  top: 240px;
  font-weight: bold;


}
section:nth-child(1)>main>section:nth-child(1)>#i-am-Developer{
  font-size: 50px;
  position: absolute;
  top: 400px;
}

section:nth-child(1)>main>section:nth-child(1)>#Download-Cv{
  background-color: #11E4E4;
  height: 65px;
  width: 200px;
  color: black;
  border: none;
  border-radius: 0px;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 650px;
}
section:nth-child(1)>main>section:nth-child(1)>#Download-Cv1{
  background-color: #11E4E4;
  height: 65px;
  width: 200px;
  color: #fff;
  border: none;
  border-radius: 0px;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 650px;
  filter: blur(10px);
}
section:nth-child(1)>main>section:nth-child(1)>#Download-Cv:hover {
  background-color: white;
}
